html, body, #app, .hamburger-menu{
  height: 100%;
  font-size: 18pt;
  font-family: 'Roboto Slab', serif;
}

#app {
  position: fixed;
}

span{
  white-space: nowrap;
}

.menu-item{
  display: block;
}

.menu-item > *{
  vertical-align: middle;
}

.hamburger-menu {
  display: inline-block;
}

.menu-closed {
  max-width: 0%;
}

.menu-open {
  max-width: 100%;
}

.menu-text {
  display: inline;
}

.menu-item{
  background-color: #ffffff;
  transition: background-color .2;
}
.menu-item:hover{
  background-color: #cce6ff;
  transition: background-color .3s;
}

.hamburger-menu {
  background-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  min-width: 50px;
  transition: max-width .5s;
  -webkit-transition: max-width .5s;
}

.sliding-pane {
  display: inline;
  font-size: 1rem;
  left: -200px;
  padding: 10px;
}

.menu-closed .sliding-pane{
  opacity: 0;
  position: absolute;
}

.menu-open .sliding-pane{
  opacity: 1;
  left: 15px;
  animation: openPane .5s;
  position: static;
}

.list-div {
  display: inline-block;
}

@keyframes openPane {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

/*@keyframes closePane {
  0% {opacity: 1;}
  25% {opacity: 0;}
  100% {opacity: 0;}
}*/