html, body, #app, .hamburger-menu{
  height: 100%;
  font-size: 18pt;
  font-family: 'Roboto Slab', serif;
}
img {
  width: 80%;
}
#app {
  position: fixed;
}

span{
  white-space: nowrap;
}

.menu-item{
  display: block;
}

.menu-item > *{
  vertical-align: middle;
}

.hamburger-menu {
  display: inline-block;
}

.menu-closed {
  max-width: 0%;
}

.menu-open {
  max-width: 100%;
}

.menu-text {
  display: inline;
}

.menu-item:hover{
  background-color: #cce6ff;
  transition: background-color .3s;
}

.hamburger-menu {
  background-color: rgba(230, 247, 255, .9);
  border-width: 2px;
  border-style: solid;
  min-width: 50px;
  transition: max-width .5s;
  -webkit-transition: max-width .5s;
  overflow-x: hidden;
}

.menu-text {
  display: inline;
  font-size: 1rem;
  padding: 10px;
  position: relative;
}

.list-div {
  display: inline-block;
  text-align: center;
  margin: 15px 0px 15px 0px;
}

.menu-closed .list-div {
  width: 50px;
}

.menu-open .list-div {
  width: 50px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #444444;
  transition: border 0.3s;
  background-color: inherit;
  font-size: .7rem;
  width: 50%;
}
input[type="text"]:focus {
  border-bottom: solid 2px #000000;
  outline: none;
}